<article class="card">
    <!-- Card -->
    <figure>
        <picture>
            <!-- profile picture -->
            <source type="image/webp" srcset="/images/default-profile.webp" />
            <source type="image/png" srcset="/images/default-profile.jpg" />
            <img src="/images/default-profile.jpg" alt="" />
        </picture>

        <!-- lvl -->
        <p>5</p>

        <!-- tags -->
        <div>
            <p>Rogue</p>
            <p>Fire</p>
        </div>

        <figcaption>
            <div>
                <h2>Char name</h2>
                <h3>Real name</h3>
                <p>10km</p>
            </div>

            <button>
                <img src="images/base-heart.svg" alt="" />
            </button>
        </figcaption>
    </figure>
</article>