{{#each users}}

<article class="card">
    <!-- Card -->
    <figure>
        <picture>
            <!-- profile picture -->
            <source type="image/webp" srcset="/images/default-profile.webp" />
            <source type="image/png" srcset="/images/default-profile.png" />
            <img src="/images/default-profile.png" alt="" />
        </picture>

        <!-- lvl -->
        <p class="lvl">5</p>

        <!-- tags -->
        <div class="tags">
            <p class="playerClass">Rogue</p>
            <p class="playerElement">Fire</p>
        </div>

        <figcaption>
            <div class="playerInfo">
                <h2>{{this.name}}</h2>
                <h3>{{this.realName}}</h3>
                <p>10km</p>
            </div>

            <button>
                <img src="images/heart.svg" alt="" />
            </button>
        </figcaption>
    </figure>
</article>

{{/each}}