<header>
    <button class="navBtn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <nav id="nav">
        <ul>
            <li>
                <a href="/create-user">make user</a>
            </li>
            <li>link2</li>
            <li>link3</li>
            <li>link4</li>
        </ul>
    </nav>
    <a class="profilePic" href="#"></a>
</header>