<figure class="largeCard">
    <picture>
        <!-- profile picture -->
        <source type="image/webp" srcset="/images/default-profile.webp" />
        <source type="image/png" srcset="/images/default-profile.png" />
        <img src="/images/default-profile.png" alt="" />
    </picture>

    <div class="infoContainer">
        <!-- lvl -->
        <p class="lvl">5</p>
        {{!-- distance --}}
        <p class="distance">10km</p>
    </div>



    <figcaption>
        <div class="playerInfo">
            <h2>Gollum</h2>
            <h3>Jack Smith</h3>
        </div>

        <div class="tags">
            <p class="playerClass">Rogue</p>
            <p class="playerElement">Fire</p>
        </div>

        <div class="aboutMe">
            <h3>About me:</h3>
            <p>Hi I like slaying monsters and eating pizza with my friends.</p>
            <p>I’m looking for a strong player that can help me defeat the boss on lvl 4</p>
        </div>
    </figcaption>
</figure>