{{#each data}}

<label class="flipContainer" for="flip">
    <input class="flipBtn" id="flip" type="checkbox">

    <article class="flipCard">

        <figure class="largeCard">
            <section class="actionOverlay">
                <img src="/images/overlayLike.svg" alt="">
            </section>

            <section class="pictureContainer">

                <picture>
                    {{!-- profile picture --}}
                    <source type="image/webp" srcset="/images/user-image1.webp" />
                    <source type="image/jpg" srcset="/images/user-image1.jpg" />
                    <img src="/images/user-image1.jpg" alt="" />
                </picture>

                <div class="sliderBtns">
                    {{!-- buttons for slider --}}
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

            </section>

            <section class="infoContainer">
                {{!-- distance --}}
                <p class="distance">10km</p>
                {{!-- lvl --}}
                <p class="lvl">5</p>
            </section>

            <figcaption>
                <section class="playerInfo">
                    <h2>{{this.charactername}}</h2>
                    <h3>{{this.firstname}} {{this.lastname}}</h3>
                </section>

                <section class="tags">
                    <p class="playerClass">Rogue</p>
                    <p class="playerElement">Shadow</p>
                </section>

                <section class="aboutMe">
                    <h3>About me:</h3>
                    <p>{{this.aboutme}}</p>
                </section>
            </figcaption>
        </figure>
        <section class="cardBackside">
            backside
        </section>


    </article>


</label>

{{/each}}