<figure class="largeCard">
    <div class="pictureContainer">

        <picture>
            <!-- profile picture -->
            <source type="image/webp" srcset="/images/user-image1.webp" />
            <source type="image/jpg" srcset="/images/user-image1.jpg" />
            <img src="/images/user-image1.jpg" alt="" />
        </picture>

        <div class="sliderBtns">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    <div class="infoContainer">
        {{!-- distance --}}
        <p class="distance">10km</p>
        <!-- lvl -->
        <p class="lvl">5</p>
    </div>




    <figcaption>
        <div class="playerInfo">
            <h2>Amber</h2>
            <h3>Sasja Koning</h3>
        </div>

        <div class="tags">
            <p class="playerClass">Rogue</p>
            <p class="playerElement">Shadow</p>
        </div>

        <div class="aboutMe">
            <h3>About me:</h3>
            <p>Hi I like slaying monsters and eating pizza with my friends.</p>
            <p>I’m looking for a strong player that can help me defeat the boss on lvl 4</p>
        </div>
    </figcaption>
</figure>