{{!-- <form method="POST" action="/" class="buttonContainer"> --}}
    <section class="buttonContainer">

        <form class="form-dislike" method="GET" action="/result-dislike">

            <button class="dislike">
                <img src="images/dislike.svg" alt="" />
            </button>

        </form>

        <form class="form-like" method="GET" action="/result-like">
        
            <button class="like">
                <img src="images/like.svg" alt="">
            </button>

        </form>
        
    </section>