
{{!-- <form method="POST" action="/" class="buttonContainer"> --}}
<form method="POST" action="/" class="buttonContainer">

    <button class="dislike">
        <img src="images/dislike.svg" alt="" />
    </button>

    <button type="submit" value="submit" name="like" class="like">

        <img src="images/like.svg" alt="" />
    </button>

</form>