<form action="/register" class="buttonContainer">

    <input type="text" name="email" class="form" placeholder="email pls">

    <button type="submit" name="dislike" class="dislike">
        <img src="images/dislike.svg" alt="" />
    </button>

    <button type="submit" name="like" class="like">
        <img src="images/like.svg" alt="" />
    </button>

</form>