<form method="POST" action="/post-feedback" class="buttonContainer">

    <input type="text" name="client-email" class="form" placeholder="email pls">

    <button type="submit" value="submit" name="dislike" class="dislike">
        <img src="images/dislike.svg" alt="" />
    </button>

    <button type="submit" value="submit" name="like" class="like">
        <img src="images/like.svg" alt="" />
    </button>

</form>