<div class="buttonContainer">

    <button class="dislike">
        <img src="images/dislike.svg" alt="" />
    </button>

    <button class="like">
        <img src="images/like.svg" alt="" />
    </button>

</div>