<form action="/api/user" method="POST">

<label for="">Firstname</label>
<input type="text" name="firstname" id=""><br>

<label for="">Lastname</label>
<input type="text" name="lastname" id=""><br>

<label for="">Character name</label>
<input type="text" name="charactername" id=""><br>

<label for="">About you</label>
<textarea type="text" name="aboutme" id=""></textarea><br>

<label for="">looking for:</label>
<input type="checkbox" value="warrior" name="lookingfor">
<label for="warrior">Warrior</label>
<input type="checkbox" value="rogue" name="lookingfor">
<label for="rogue">Rogue</label>
<input type="checkbox" value="support" name="lookingfor">
<label for="support">Support</label>
<input type="checkbox" value="mage" name="lookingfor">
<label for="mage">Mage</label>

<input type="submit">

</form>