<form action="/api/user" method="POST">

<label for="">Firstname</label>
<input type="text" name="firstname" id=""><br>

<label for="">Lastname</label>
<input type="text" name="lastname" id=""><br>

<label for="">Character name</label>
<input type="text" name="charactername" id=""><br>

<label for="">About you</label>
<textarea type="text" name="aboutme" id=""></textarea><br>

<input type="submit">

</form>