{{>header}}
<main>
    {{#if isMatched}}
        {{>matchPopup}}
    {{/if}}
    {{>largeCard}}
    {{>likeDislike}}
</main>
  <script src="../js/script.js"></script>
{{!-- <footer>
    {{>likeDislike}}
</footer> --}}