html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

li {
	font-size: 2rem;
	width: 300px;
	margin: 4px;
	padding: 4px;
	list-style: none
	}
	
.midlaner {background-color: #eeeeee}

.toplaner {background-color: #ffea00}