html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-blue: #2C2A46;
	--background-blue-detail: #42285C;
	--card-blue: rgba(84, 81, 119, 0.7);
	--default-blue-1: #686492;
	--default-blue-2: #3D3B57;
	--shadow: rgba(61, 59, 87, 0.3);

	--detail-yellow: #FEDF6A;
	--detail-green: #70CF98;
	--detail-blue: #2785FE;
	--detail-red: #FF6270;
	--detail-lightblue: #B0A8FF;

	--text-color: #fff;
}

h2 {
	font-size: 18px;
}

h3, p {
	font-size: 14px;
}

body {
	color: var(--text-color);
	background-color: var(--background-blue);
	background: radial-gradient(circle, var(--background-blue-detail) 0%, var(--background-blue) 100%);

	width: 100%;
	height: 100vh;

	font-family: "Roboto", sans-serif;

	font-size: 10px;
}

body > main {
	margin: 0 2em;

	height: 100%;
}

/* header */

header {
	display: flex;
	justify-content: space-between;
}

.navBtn {
	position: relative;
	z-index: 10;
	width: 2em;
	height: 1.5em;
	background: none;
	border: none;

	margin: 16px;
}

.navBtn > span {
	position: absolute;
	display: block;
	width: 2em;
	height: 2px;

	background-color: #2785FE;
}

.navBtn > span:first-of-type {
	top: 0;
}

.navBtn > span:nth-of-type(2) {
	top: 50%;
	transform: translate( 0, -50%);
}

.navBtn > span:last-of-type {
	bottom: 0;
}

nav {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	background: var(--text);
	padding: 1rem;
	transform: translateX(-100%);
	transition: .5s;

	z-index: 9;
}

nav.is-open {
	transform: translateX(0);
}

nav > ul {
	margin-top: 2em;
	width: 100%;
}

nav > ul > li {
	padding: .5em 0;
}

nav > ul > li:active {
	background-color: #2C2A46;
	color: var(--text);
}


.profilePic {
	background-color: #2785FE;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	display: block;

	margin: 1em;
}

/* card */

.largeCard {
    background: var(--card-blue);
    height: 80%;

	width: 100%;

    border-radius: 12px;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
}

.largeCard > picture {
	width: calc(100% - 2em);
	margin-top: 1em;
}

.largeCard > picture > img {
	width: 100%;
}

.infoContainer {
	position: absolute;
	top: 2em;

	display: flex;
	justify-content: space-between;

	width: calc(100% - 4em);
}

.lvl, .distance {

}